{% extends 'base.html' %}

{% block title %}
<title>WEBPAGE test run: login</title>
{% endblock %}


{% block content %}
{% if login_default %}
<h1>Login here</h1>
{% endif %}
{% if login_successful %}
<h1>Login Successful</h1>
{% endif %}

{% if login_unsuccessful %}
<h1>Login here</h1>
ERROR: username/password not found
{% endif %}

{% if login_default or login_unsuccessful%}
<form action=/login method=POST>
    <table>
    <tr><td>username</td><td><input class="textfield" type=text name=username></td></tr>
    <tr><td>password</td><td><input class="textfield" type=password name=password></td></tr>
    </table>
    <input type=submit value='log in'>
</form>
{% endif %}
{% endblock %}